.Button{
 color: var(--primary-color);
}

.clear {
  border: none;
  background: none;
  outline: none;
}

.outline {
padding: 10px 15px;
  border: var(--primary-color) solid 1px;
  color:  var(--primary-color);
  background: none;
}